<h1>学習レポート</h1>

<h2>今日の学習時間</h2>
<p><%= @todays_study_time %> 分</p>

<h2>今週の学習時間</h2>
<p><%= @this_weeks_study_time %> 分</p>

<h2>今月の学習時間</h2>
<p><%= @this_months_study_time %> 分</p>

<h2>合計学習時間</h2>
<p><%= @total_study_time %> 分</p>


